<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Menu</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome to the Restaurant Menu</h1>
    <h2>Pick a restaurant:</h2>
    <form action="" method="GET">
        <select name="restaurant" onchange="window.location.href='/menu/' + this.value">
            <option>Select a restaurant</option>
            <% restaurants.forEach(restaurant => { %>
                <option value="<%= restaurant.name %>"><%= restaurant.name %></option>
            <% }) %>
        </select>
    </form>

    <div class="random-item">
        <h3>Random Menu Item:</h3>
        <p class="random-item-details">
            <strong><%= randomMenuItem.item.name %></strong> from <%= randomMenuItem.restaurant %>: <%= randomMenuItem.item.description %> - $<%= randomMenuItem.item.price %>
        </p>
    </div>
</body>
</html>
