<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= restaurant.name %> Menu</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= restaurant.name %> Menu</h1>
    <h2>Cuisine: <%= menu.cuisine %></h2>
    <ul>
        <% menu.items.forEach(item => { %>
            <li>
                <div class="menu-details">
                    <strong><%= item.name %></strong>: <%= item.description %> - $<%= item.price %>
                    <% if (item.special) { %> <em>(Daily Special)</em> <% } %>
                </div>
            </li>
        <% }) %>
    </ul>
    <a href="/alerts">Menu Alerts</a>
</body>
</html>
